.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100vh;
}
.category_heading {
  color: #234ad4;
  font-size: 3rem;
}

.role-section {
  padding: 3rem;
}

.role-section-heading {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.role-section-heading:after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #234ad4;
  width: 24rem;
  height: 3px;
  border-radius: 0.8rem;
}

.role-cards {
  display: flex;
  text-align: center;
  padding: 70px 10px 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.contributer-role-card {
  text-align: center;
  background-color: #234ad4;
  border-radius: 40px;
  box-shadow: 2px 0px 10px 0px #b1b1b1;
  width: 15rem;
  height: 100%;
}

.contributer-role-card-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

.contributer-role-card-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}
